<% provide :title, t(".page_name") %>
<h1><%= t ".page_title"%></h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
