<footer class="footer">
  <small>
    <%= t ".author_html" %>
  </small>
  <nav>
    <ul>
      <li><%=link_to t(".about"), about_path %></li>
      <li><%=link_to t(".contact"), contact_path %></li>
      <li><%= t ".news_html"%></li>
    </ul>
  </nav>
</footer>
